<div class="row" *ngIf="isBookLoaded">
    <div class="col-lg-5 col-md-4 mx-auto">
        <div class="div my-2">
            <img [src]="book.cover_image_url" alt="" class="img-thumbnail" height="400px">
        </div>
    </div>
    <div class="col-lg-6 col-md-7 mx-auto mt-2">
        <h2 class="text-center">Book Details</h2>
        <p><span class="h5">Name: </span> {{book.name}} </p>
        <p><span class="h5">Number of Pages: </span> {{book.pages}}</p>
        <p><span class="h5">Release Year: </span> {{book.release_year}}</p>
        <p><span class="h5">Publication: </span> {{book.publication}}</p>
        <p><span class="h5">Available: </span> {{book.stock_quantity > 0 ? "YES" : "NO"}}</p>
        <p><span class="h5">Authors: </span> <span > {{book.Authors | slice:0}}</span></p>
        <p><span class="h5">Category: </span> <span > {{book.Categories | slice:0}}</span></p>
        <button class="btn btn-block btn-primary">LOGIN TO BORROW</button>
    </div>
</div>
<div class="row" *ngIf="isCategoryLoaded">
    <div class="col-lg-12 d-flex flex-wrap">
        <div 
            *ngFor = "let book1 of books"
            class="card text-white bg-dark mb-3 mr-auto" 
            style="max-width: 12rem; cursor: pointer;"
            [routerLink] = "['/books/details/'+book.id]"
            >
            <div class="card-body">
                <h2 class="card-title">{{book1.name}}</h2>
                <p class="card-text">{{book1.publication}}</p>
            </div>
        </div>
    </div>
</div>