<h3>All Books</h3>
<div class="row">
    <div class="col-lg-12 d-flex flex-wrap">
        <div 
            *ngFor = "let book of books"
            class="card text-white bg-dark mb-3 mr-auto" 
            style="max-width: 12rem; cursor: pointer;"
            [routerLink] = "['/books/details/'+book.id]"
            >
            <div class="card-body">
              <h2 class="card-title">{{book.name}}</h2>
              <p class="card-text">{{book.publication}}</p>
            </div>
        </div>
    </div>
    
</div>